html, body {
  height: 110%;
  width: 100%;
  margin: 0px;
  background-color: #765b76;
}

canvas{
  position:absolute;
  background-color: #765b76;
}

div#dropdowns{
  z-index: 2;
  position: relative;
  top: 0%;
  left: 0%;
  width: 800px;
  height: 100%;
}

#dateYear, #dateMonth, #dateDay{
  color: #000;
  font: Sans-Serif;
  font-size: 20px;
  font-weight: 800;
  padding: 5px 5px 5px 5px;
  width: 100px;
  height: 50px;
}

#outlookHR, #outlookTYP {
  color: #000;
  font: Sans-Serif;
  font-size: 15px;
  font-weight: 800;
  padding: 1px;
  width: 20%;
  height: 30px;

  right: 65%;
  display: inline-flex;
  position: absolute;
  text-align: center;
}

#outlookTYP {
  right: 45%;
}

#BASICPARAMS {
  color: #000;
  font: Sans-Serif;
  font-size: 18px;
  font-weight: 800;
  padding: 5px 5px 5px 5px;
  width: 100%;
  height: 50px;
}

#textYear,#textMonth,#textDay,#timeSliderTxt{
  color: #dd3c3c;
  font-family: Sans-Serif;
  font-size: 30px;
  font-weight: 800;
  padding: 5px 5px 5px 5px;
  width: 100px;
  height: 50px;
}

#loadButton {
  color: #dd3c3c;
  font-family: Sans-Serif;
  font-size: 25px;
  font-weight: 800;
  padding: 5px 5px 5px 5px;
  width: 50%;
  height: 50px;
}

#reportsShow, #outlookShow {
  color: #ffffff;
  background-color: #880000;
  font-family: Sans-Serif;
  font-size: 15px;
  font-weight: 800;
  padding: 5px 5px 5px 5px;
  width: 20%;
  height: 30px;
  right: 1%;
  display: inline-flex;
  position: absolute;
  text-align: center;
}

#outlookShow {
  right: 22.5%;
}

#displayButton, #displayButton2{
  color: #dd3c3c;
  font-family: Sans-Serif;
  font-size: 20px;
  font-weight: 800;
  display: inline-flex;
  position: absolute;
  padding: 5px 5px 5px 5px;
  width: 45%;
  right: 0;
  height: 50px;
}

#timeSliderTxt{
  color: #fff;
  height:25px;
  margin: 3px;
  font-weight: 900;
  font-family: monospace;
}

#paramSelect{
  color: #fff;
  height: 20px;
  font-size: 15px;
  width:32%;
  font-weight: 100;
  font-family: Cambria;
  justify-items: center;
  border: 2px 2px 2px 2px;
  border-color: #222;
  background-color: #444;
}

#paramSection{
  color: #f00;
  height: 26px;
  font-size: 22px;
  font-weight: 850;
  font-family: Cambria;
  justify-items: center;
  border: 2px 2px 2px 2px;
  margin: 0px 0px 0px 0px;
  width: 100%;
  border-color: #222;
  background-color: #000;
}

#paramSection2{
  color: #fff;
  height: 35px;
  font-size: 34px;
  font-weight: 750;
  font-family: monospace;
  justify-items: center;
  border: 2px 2px 2px 2px;
  margin: 0px 0px 0px 0px;
  width: 100%;
}

#dateHour{
  color: #000;
  font: Sans-Serif;
  font-size: 20px;
  font-weight: 800;
  padding: 5px 5px 5px 5px;
  width: 100px;
  height: 50px;
}

#timeSlider, #timeSlider2, #timeSlider3{
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
}

div#gifSection {
  visibility: hidden;
  width: 900px;
  height: 150px;
  position: absolute;
  left: 900px;
  top: 800px;
  background-color: #523460;
}

#gifTitle {
  width: 30%;
  height: 35px;
  margin: 0px;
  background-color: #675;
  color: #fff;
  font-family: Sans-Serif;
  font-size: 29px;
  font-weight: 250;
}

#gifTimeTxt, #gifTimeTxt2, #gifTimeTxt3{
  color: #fff;
  height: 30px;
  font-size: 25px;
  margin: 0px;
  width: 300px;
  font-weight: 900;
  font-family: monospace;
}

#timeSlider2, #timeSlider3{
  width: 300px !important;
}

#gifTimeArrow{
  color: #999;
  height: 40px;
  width: 40px;
  position: absolute;
  left: 450px;
  top: 60px;
  border: 2px 2px 2px 2px;
  justify-items: center;
  border-color: #fff;
  font-size: 25px;
  padding: 0px;
  font-weight: 900;
  font-family: Arial;
}

#loadGif {
  color: #44ab97;
  height: 45px;
  width: 150px;
  position: absolute;
  left: 500px;
  top: 55px;
  border: 2px 2px 2px 2px;
  justify-items: center;
  border-color: #fe0606;
  font-size: 25px;
  padding: 0px;
  font-weight: 900;
  font-family: Arial;
}

#gifPlay, #gifPause {
  color: #0ff5c7;
  height: 40px;
  width: 120px;
  position: absolute;
  left: 450px;
  top: 105px;
  border: 2px 2px 2px 2px;
  justify-items: center;
  background-color: #535;
  border-color: #964f4f;
  font-size: 22px;
  padding: 0px;
  font-weight: 900;
  font-family: Arial;
}

#gifPause{
  left: 580px;
}

#gifButton{
  width: 500px;
  height: 50px;
  background-color: #523;
  position: absolute;
  left: 325px;
  top: 0px;
}
